.form {
  width: calc(20% + 20em + 10vw);
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  border-radius: 10px;
  box-shadow: #BEE3DB 0px 1px 3px 0px, #89B0AE 0px 1px 2px 0px;
}

.fieldset {
  border: none;
}

.label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: calc(.5em + .5vw);
  color: #555B6E;
}

.stay {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  gap: 2em;
}

.input {
  width: 100%;
  background: none;
  border: 1px solid #BEE3DB;
  border-radius: 5px;
  font-size: calc(.8em + .7vw);
}

.label-radio {
  display: none;
}

.stars {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: left;
  gap: 1em;
}

.radio {
  width: calc(.9em + .8vw);
  height: calc(.9em + .8vw);
  appearance: none;
  background-color: #FFD6BA;
  cursor: pointer;
  transition: all .3s;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.radio:hover {
  background-color: #BEE3DB;
}

.radio:hover ~ .radio,
.radio:not(:checked) ~ .radio:hover ~ .radio {
  background-color: #BEE3DB;
}

.avatar {
  display: flex;
  flex-direction: column;
}

.file::-webkit-file-upload-button,
.submit {
  padding: .3em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
  background-color: #89B0AE;
  border-radius: 5px;
  border: none;
  color: #FAF9F9;
  text-transform: uppercase;
  font-size: calc(.4em + .5vw);
  text-align: center;
  cursor: pointer;
  transition: all .3s;
}

.file:hover::-webkit-file-upload-button,
.submit:hover {
  background-color: #BEE3DB;
  color: #555B6E;
}

.privacy {
  display: flex;
  align-items: center;
  gap: .5em;
  font-size: calc(.5em + .4vw);
  font-weight: 300;
}

.checkbox {
  width: calc(.6em + .5vw);
  height: calc(.6em + .5vw);
  appearance: none;
  background: none;
  border: 1px solid #BEE3DB;
  border-radius: 5px;
}

.privacy > label {
  width: calc(.6em + .5vw);
  height: calc(.6em + .5vw);
}

.submit {
  margin-top: .5em;
}