.btn {
  padding: .2em .3em;
  display: flex;
  align-items: center;
  gap: 0.3em;
  background-color: #89B0AE;
  border-radius: 10px;
  color: #FAF9F9;
  text-transform: uppercase;
  font-size: calc(.4em + .5vw);
  cursor: pointer;
  transition: all .3s;
}

.btn:hover {
  background-color: #BEE3DB;
  color: #555B6E;
}

.icon {
  width: calc(.4em + .5vw);
  height: calc(.4em + .4vw);
  padding-bottom: .1em;
  fill: #555B6E;
}