.btn-favorite {
  width: calc(.7em + .8vw);
  height: calc(.7em + .7vw);
}

.icon-heart {
  width: calc(.7em + .8vw);
  height: calc(.7em + .7vw);
  fill: #FFD6BA;
  transition: fill .3s linear;
  cursor: pointer;
}

.icon-heart:hover {
  fill: #BEE3DB;
}