.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.section {
  margin-top: 1.5em;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}