.consent {
  display: flex;
  align-items: center;
  gap: .3em;
}

.icon {
  width: calc(.4em + .4vw);
  height: calc(.4em + .4vw);
  fill: #BEE3DB;
}

.text {
  font-weight: 300;
  font-size: calc(.4em + .4vw);
}